<div class="cover">
  <header class="header">
    <div class="grid"><a href="#">Kantan Ankeeto</a></div>
    <div class="user_nav grid-6">
      <% if user_signed_in? %>
        <ul class='lists-right'>
          <li><%= link_to 'アカウント', edit_user_registration_path, class: "user-nickname" %></li> 
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
        </ul>
      <% else %>
        <div class='lists-right'>
          <div class= 'login'><%= link_to 'ログイン', new_user_session_path, class: "login" %></div>
          <div class= 'newr'><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></div>
        </div>
      <% end %>
    </div>
  </header>

  	<div class="title">簡単アンケート</div>
        <div class="post" ><%#= link_to 'アンケートを作る',  class: "make-up" %></div>
  <div class="mess">
	  <div class="message">難しいことは必要なし！<br />さぁ作って、答えましょう！</div>
  </div>

    <div class="contents row">
  <% @ankeetoes.each do |ankeeto| %>
    <div class="content_post" style="background-image: url(<%= ankeeto.image %>);">
      <p><%= ankeeto.text %></p>
      <span class="name">
        <%= ankeeto.name %>
      </span>
    </div>
  <% end %>
  </div>


  <footer>
    <p>Copyright KnatanAnkeeto 2020.</p>
  </footer>
</div>